# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/

# Data & models (too big for git)
data/raw/
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
.streamlit/.claude/
.claude/
